.page-header
  %h1= t('headers.genres.index')

%table.table.table-hover.table-striped.center
  %thead
    %tr
      %th= Genre.human_attribute_name(:name)
      %th
      %th
      %th

  %tbody
    - @genres.each do |genre|
      %tr
        %td= genre.name
        %td= link_to 'Показать', genre
        %td= link_to 'Изменить', edit_genre_path(genre)
        %td= link_to 'Удалить', genre, method: :delete, data: { confirm: 'Выу уверены?' }

%br

= link_to 'Новый жанр', new_genre_path
