= form_for @film do |f|
  - if @film.errors.any?
    #error_explanation
      %h2= "#{pluralize(@film.errors.count, "error")} prohibited this film from being saved:"
      %ul
        - @film.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :duration
    = f.text_field :duration
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :cinemacompany
    = f.text_field :cinemacompany
  .field
    = f.label :minage
    = f.text_field :minage
  .actions
    = f.submit 'Save'
